<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer">
      <div class="copyright"> <i class="fa fa-copyright" title="Copyright"></i> Heiswayi Nrird 2019—2019<br> <i class="fa fa-code"
          aria-hidden="true"></i>  <a href="https://heiswayi.nrird.com/">Home</a>
        · <a href="https://heiswayi.nrird.com/about">About</a>
        · <a href="#top">Back to Top</a></div>
    </div>

  </div>

</footer>